<div *ngIf="user">
  <button class="btn btn-outline-primary btn-lg"(click)="goBack()">Wstecz</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-info btn-md  " data-toggle="modal" data-target="#editModal" (click)="editInit()">Edytuj</button>
  <button class="btn btn-danger btn-md" data-toggle="modal" data-target="#deleteModal">Usuń</button>
  <p>
  <table class="table table-hover table-condensed table-striped table-bordered">
    <tr>
      <td>Id Użytkownika</td>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <td>Imię i nazwisko</td>
      <td>{{user.name}}</td>
    </tr>
    <tr>
      <td>Nazwa użytkownika</td>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <td>Adres</td>
      <td>
        <p>Ulica: {{user.address.street}}</p>
        <p>Mieszkanie: {{user.address.suite}}</p>
        <p>Miasto: {{user.address.city}}</p>
        <p>Kod pocztowy: {{user.address.zipcode}}</p>
        <p>Geolokalizacja: </p>
          <ul>
            <li>Szerokość: {{user.address.geo.lat}}</li>
            <li>Długość: {{user.address.geo.lng}}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Telefon</td>
        <td>{{user.phone}}</td>
      </tr>
      <tr>
        <td>Strona www</td>
        <td>{{user.website}}</td>
      </tr>
      <tr>
        <td>Firma</td>
        <td>
          <p>Nazwa: {{user.company.name}}</p>
          <p>Catch Phrase: {{user.company.catchPhrase}}</p>
          <p>Bs: {{user.company.bs}}</p>
        </td>
      </tr>
  </table>
  <p>

    <!-- deleteModal -->
  <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Usuwanie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Czy na pewno chcesz usunąć użytkownika <strong>{{user.name}}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteUser()">Usuń</button>
        </div>
      </div>
    </div>
  </div>

      <!-- editModal -->
    <div *ngIf="userEdit" class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edycja</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-hover table-condensed table-striped table-bordered">
              <tr>
                <td>Id Użytkownika</td>
                <td>{{user.id}}</td>
              </tr>
              <tr>
                <td>Imię i nazwisko</td>
                <td><input [(ngModel)]="userEdit.name" #name value={{user.name}}/></td>
              </tr>
              <tr>
                <td>Nazwa użytkownika</td>
                <td><input [(ngModel)]="userEdit.username" #username value={{user.username}}/></td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td><input [(ngModel)]="userEdit.email" #email value={{user.email}}/></td>
              </tr>
              <tr>
                <td>Adres</td>
                <td>
                  <p>Ulica: <br><input [(ngModel)]="userEdit.address.street" #address.street value={{user.address.street}}/></p>
                  <p>Mieszkanie: <br><input [(ngModel)]="userEdit.address.suite" #address.suite value={{user.address.suite}}/></p>
                  <p>Miasto: <br><input [(ngModel)]="userEdit.address.city" #address.city value={{user.address.city}}/></p>
                  <p>Kod pocztowy: <br><input [(ngModel)]="userEdit.address.zipcode" #address.zipcode value={{user.address.zipcode}}/></p>
                  <p>Geolokalizacja: </p>
                    <ul>
                      <li>Szerokość: <input [(ngModel)]="userEdit.address.geo.lat"  #address.geo.lat value={{user.address.geo.lat}}/></li>
                      <li>Długość: <input [(ngModel)]="userEdit.address.geo.lng" #address.geo.lng value={{user.address.geo.lng}}/></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Telefon</td>
                  <td><input [(ngModel)]="userEdit.phone" #phone value={{user.phone}}/></td>
                </tr>
                <tr>
                  <td>Strona www</td>
                  <td><input [(ngModel)]="userEdit.website" #website value={{user.website}}/></td>
                </tr>
                <tr>
                  <td>Firma</td>
                  <td>
                    <p>Nazwa: <br><input [(ngModel)]="userEdit.company.name" #company.name value={{user.company.name}}/></p>
                    <p>Catch Phrase: <br><input [(ngModel)]="userEdit.company.catchPhrase" #company.catchPhrase value={{user.company.catchPhrase}}/></p>
                    <p>Bs: <br><input [(ngModel)]="userEdit.company.bs" #company.bs value={{user.company.bs}}/></p>
                  </td>
                </tr>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="updateUser()">Zapisz</button>
          </div>
        </div>
      </div>
    </div>
</div>
